body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

.al-dark {
    background-color: #2e3458;
}

.al-accent {
    background-color: #f1547f;
}

.al-background-dark {
    background-color: #f6f7fc;
}

.al-menu-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border-radius: 25px 0 0 25px;
}

.al-btn-outline-accent {
    color: #2e3458;
    border-color: #f1547f;
}

.al-text-accent {
    color: #f1547f;
}

.border-1 {
    border-width: 1px !important;
    border-style: solid;
}

.rounded-xlg {
    border-radius: 0.5rem !important;
}