@using (Html.BeginForm("Search", "Group", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
{
    <input class="form-control mr-2" type="search" name="name" aria-label="Search for a Group" placeholder="Groups..." />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
}
